services:
  mongo:
    image: mongo
    container_name: mongo_container
    ports:
      - 3456:27017
    environment:
      # These 2 firs variables, used in conjunction, create a new user and set that user's password. This user is created in the admin authentication database and given the role of root, which is a "superuser" role.
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

      #MONGO_INITDB_DATABASE will tell MongoDB to create a database with that name.
      MONGO_INITDB_DATABASE: the_database
    volumes:
      # make mongo init and save in file 'mongo-init.js' (name can be any) and copy it in folder
      # /docker-entrypoint-initdb.d/ is a fixed, special directory used by the official MongoDB Docker image.
      #The name cannot be changed.
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      # needed to persist data
      - mongo_data:/data/db
  redis:
    image: redis:3
    container_name: redis_container
    ports:
      - 6379:6379
    volumes: # Declare the volume
      - ./redis_data:/data
volumes:
  mongo_data:
  redis_data:

  #run:
  #1) clear:
  #> docker compose -f docker-compose.mongo_redis_dev.yml down --volumes
  #2) start
  # >docker compose -f docker-compose.mongo_redis_dev.yml up
  #3) on back exprress terminal :
  #> REDIS_URL=redis://localhost:6379  MONGO_URL=mongodb://the_username:the_password@localhost:3456/the_database npm run dev
  #4) check
  #> http://localhost:3000/todos
  #5) additional can  list the volumes
  #> docker volume ls
  #6) details of volume:
  #> docker volume inspect todo-backend_mongo_data
